body {
    background-image: url("background6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: rgb(249, 188, 255);
    font-family: 'Exo', sans-serif;
    color: black;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

#nav {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#nav li a:hover {
    background-color: #96BBBB;
}

#content {
    border: solid 2px;
    text-align: center;
    width: 68%;
    margin: 16px auto auto auto;
    padding-bottom: 16px;
    background-color: rgba(249, 188, 255,0.01);
}

table {
    margin: auto;
}

#content ul, #content ol {
    width: 25%;
    margin: auto;
}

#rcontent, #pcontent {
    text-align: left;
    width: 68%;
    margin: 16px auto 16px auto;
    padding-bottom: 16px;
    background-color: rgba(249, 188, 255,0.01);
}

#rh, #ph, #CYOA { 
    text-align: center;
    font-weight: bold;
}

hr {
    border-color: black;
}

#rs, #ps {
    font-weight: bold;
}

#re, #pe {
    font-weight: bold;
}

#rl, #pl {
    float: right;
}

#rt, #pt {
    font-style: italic;
}

#pcontent {
    text-align: middle;
    width: 100%;
    margin: 0 0 0 0;
    padding-bottom: 16px;
    background-color: rgba(249, 188, 255,0.01);
}